:root{
  
    --btn-color:#BB4120;
}
body{
background-color: #F7ECDE;
}
*,::after, ::before {
    box-sizing: border-box;
}
 h1 {
      font-family: "Pacifico", cursive;
      position: relative;
      width: fit-content;          
      margin: 0 auto;              
      padding: 0.5rem 0;
      font-size: 3.25rem;
      color:rgb(53, 46, 40);
      
       
    }

    h1::before {
      content: "";
      position: absolute;
      width: 100%;                
      height: 25%;
      left: 0;
      bottom: 10px;
      background-color: #fec260;
      transition: height 350ms;
      z-index: -1;
    }
     h1:hover::before {
        height: 50%;
     }
#btn-visit {
  text-decoration: none !important;
}

#btn-visit:link {
  color: blue !important;
}

#btn-visit:visited {
  color: gray !important;
}

#btn-visit:hover {
  color: green !important;
}


.dotted{
      border-bottom:#352e28 dotted 2px;
      
}
h2 {
  font-family: "Righteous", cursive;
 background-image: linear-gradient(to right, #3ca55c  , #b5ac49 70%);

  background-clip: text;
  color: transparent;
}
 .btn-color{
    background-color: #d1512d;
    color:white;
 }
 .btn-color:hover{
    background-color:#BB4120;
    color:white
 }
.form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 0.25rem #fec26055;
}
